let css = `

:root {
  --yellow: #FFBD6B;
  --red: #FF7A7A;
  --darkred: #FF4C4C;
  --white: #FFF;
  --blue: #38acec;
  --darkblue: #000A58;
}

* {
  box-sizing: border-box;
  margin: 0 0 0 0;
  font-family: Helvetica;
}

#wrapper {
  background-color: var(--yellow);
  width: 100%;
}

#wrapper div {
  width: 100%;
}

#header {
  background-image: -webkit-linear-gradient(
    bottom, var(--darkred), var(--red)
  );
  min-height: 7.5em;
  box-shadow: 0.2em 0.2em 0.5em #00000055;
  text-align: center;
  position: relative;
}
    #header #nav_icon_container {
      display: flex;
      flex-direction: vertical;
      position: absolute;
      right: 1em;
      padding: 2em;
      width: 10em;
    }
    
    #header #nav_icon_container > div {
      height: 3.5em;
      width : 5em;
      margin: 0 0 1em 0;
      background-color: var(--white);
    }



#main {
  align-items: center;
  text-align: center;
  min-height: 50%;
  padding: 0 0 15em 0;
  position: relative;
}
    #main #logo_container {
      width: 25em;
      height: 25em;
      box-shadow: 0.5em 0.5em 0.5em #00000055;
      border-radius: 30em;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10em;
      overflow: hidden;
      align-items: center;
    }
    
    #main img {
      width: 25em;
      height: 25em;
      border-radius: 25em;
    }
    
    #main h3 {
      font-size: 7.5em;
      margin-left: auto;
      margin-right: auto;
      color: var(--white);
      text-shadow: 0.2em 0.2em 0.3em #00000055
    }
    
    #main p {
      font-size: 4em;
      width: 50%;
      margin-left: auto;
      margin-right: auto;
      color: var(--white);
      text-shadow: 0.2em 0.2em 0.3em #00000055
    }

    #main .redirect {
      width: 50%;
      height: 7.5em;
      background-color: var(--white);
      box-shadow: 0.2em 0.2em 0.5em #00000066;
      align-items: center;
      text-align: center;
      padding: 1.3em 1em;
      margin: 2em auto 1em auto;
      border-radius: 4em;
    }

    #main .redirect a {
      color: var(--red);
      text-decoration: none;
      font-size: 3.5em;
    }



#features {
  background-color: var(--red);
  text-align: center;
  min-height: 50%;
  position: relative;
  padding: 20em 2em 10em 2em;
  transform: skewY(-11deg);
}
    #features #title {
      width: 50%;
      height: 7em;
      position: absolute;
      top: -2.5em;
      left: 2.5em;
      background-color: var(--white);
      border-radius: 3.5em;
      align-items: center;
      text-align: center;
      color: var(--red);
      padding: 1.5em;
    }
    
    #features #title h3 {
      font-size: 4em;
    }
    
    #features .category {
      min-height: 20em;
      margin-bottom: 5em;
      position: relative;
      overflow: hidden;
      transform: skewY(11deg);
    }
    
    
    #features #cricket img {
      float: left;
      width: 25em;
      height: 25em;
      left: 0;
    }
    
    #features #games img {
      float: left;
      width: 20em;
      height: 20em;
      left: 0;
    }
    
    #features #football img {
      float: right;
      width: 30em;
      height: 30em;
      right: 0;
    }
    
    #features .category h4 {
      font-size: 3.5em;
      color: var(--white);
    }
    
    #features .category p {
      font-size: 2em;
      color: var(--white);
    }


#joinus {
  background-color: var(--blue);
  min-height: 50%;
  position: relative;
  padding: 20em 2em 10em 2em;
  transform: skewY(-11deg);
}
    #joinus #title {
      width: 50%;
      height: 7em;
      position: absolute;
      top: -2.5em;
      left: 2.5em;
      background-color: var(--white);
      border-radius: 3.5em;
      align-items: center;
      text-align: center;
      color: var(--blue);
      padding: 1.5em;
    }
    
    #joinus #title h3 {
      font-size: 4em;
    }
    
    #joinus #description {
      transform: skewY(11deg);
    }
    
    #joinus #description > * {
      color: var(--white);
      font-size: 2.5em;
    }
    
    #joinus #description ul {
      list-style-type: circle;
      padding: 1.5em;
    }
    
    #joinus #redirect {
      width: 50%;
      height: 7.5em;
      background-color: var(--white);
      box-shadow: 0.2em 0.2em 0.5em #00000066;
      align-items: center;
      text-align: center;
      padding: 1.3em 1em;
      margin: 2em auto 1em auto;
      border-radius: 4em;
      transform: skewY(11deg);
    }
    
    #joinus #redirect a {
      text-decoration: none;
      font-size: 3.5em;
      color: var(--blue);
    }


#footer {
  position: relative;
  bottom: 0;
  text-align: center;
  min-height: 7.5em;
  padding-top: 3em;
}
    #footer h2 {
      color: var(--white);
      font-size: 6em;
      text-shadow: 0.2em 0.2em 0.3em #00000055;
    }


#design {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--red);
  transform: translateX(-60%);
  height: 40em;
  width: 13em;
  border-radius: 10em;
  box-shadow: 0.2em 0.2em 0.5em #00000066;
  z-index: -1;
}

`

module.exports = css;